{% extends "/protected/layout.html" %}
{% block title %} All Publications | Author Dashboard | UWI Research Platform{% endblock %}
{% block page %}All Publications{% endblock %}

{{ super() }}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Publications</li>
<li class="breadcrumb-item active">All Publications</li>
{% endblock %}

{% block user_sidebar %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="{{ url_for('static', filename='/imgs/user-icon-vector.jpg') }}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">{{ author.fname }} {{ author.lname }} </a>
    </div>
</div>
{% endblock %}

{% block sidebar_menu %}
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="/profile/@{{ user.username }}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li class="nav-item menu-open">
      <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>
          Publications
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/profile/@{{ user.username }}/publications" class="nav-link active">
            <i class="far fa-circle nav-icon"></i>
            <p>All Publications</p>
            <span class="badge badge-info right"> {{ author.publications | count }} </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/profile/@{{ user.username }}/publication/add" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Add Publication</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item menu-open">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-cog"></i>
        <p>
          Settings
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/profile/@{{ user.username }}/edit" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Profile</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item mt-3 pb-3 mb-3">
      <a href="/" class="nav-link">
        <i class="nav-icon fas fa-star"></i>
        <p>Main Site</p>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block user_dash %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                {% for pub in pubs %}
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <h5 class="card-title"> <span class="fa fa-book text-lg"> {{ pub.title }} </span> </h5>
                        <br>
                        <p class="card-text">
                            {{ pub.content }}
                        </p>
                    
                        <a href="" class="card-link"> {{ pub.publisher }} </a>
                        <a href="" class="card-link"> {{ pub.year }} </a>
                        <a href="{{ pub.link }}" class="card-link"> {{ pub.link }} </a>
                        <a href="/profile/publication/{{ pub.pubId }}/edit" class="card-link btn btn-primary"> Edit </a>
                        <a href="#" id="test6" class="card-link btn btn-danger"> Delete </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
{% endblock %}