<!Doctype html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="UWI Research Platform">
    <meta name="author" content="Micah Brereton and D-DOS Software">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='/dist/css/bootstrap.min.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='frontend.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/plugins/fontawesome-free/css/all.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body class="bg-white">
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
          <a href="/" class="d-flex align-items-center mb-2 mb-md-0 text-light text-decoration-none">
            <span class="" style="font-size: large;">UWI Research Platform</span>
          </a>
  
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 {% block active1 %}{% endblock %}">Home</a></li>
              <li><a href="/publications" class="nav-link px-2 {% block active2 %}{% endblock %}">Publications</a></li>
              <li><a href="/authors" class="nav-link px-2 {% block active3 %}{% endblock %}">Authors</a></li>
          </ul>
  
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2"><a href="/login" class="text-decoration-none text-white">Login</a></button>
            <button type="button" class="btn btn-warning"><a href="/register" class="text-decoration-none text-dark">Register</a></button>
          </div>
        </div>
      </div>
    </header>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}
    <main>
      {% block content %}{% endblock %} {% block version %}{% endblock %}
    </main>
    <footer class="footer mt-auto bg-dark text-light py-3">
      <div class="container text-center text-white">
          <span class="text-muted">Copyright &copy; <a href="/" class="text-reset">UWI Research Platform</a>. All Rights Reserved. v1.0.3</p></span>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='/dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>