{% extends "layout.html" %}
{% block title %}Login | UWI Research Platform{% endblock %}
{% block page %}UWI Research Platform{% endblock %}

{{ super() }}

{% block content %}
<main class="container" style="margin-top: 25vh;">
    <div class="container">
        <form class="card col s12 login-card" id="loginForm" method="POST" action="/login" style="padding:1em">
            <div class="row">
                <div class="input-field col s12">
                    <input name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="card-action center">
                <input type="submit" class="indigo-text text-darken-4 btn orange lighten-1" style="border-radius: 15px;" value="Login">
            </div>
        </form>
    </div>
</main>
{% endblock %}